// Theme colors
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #454545;
  --secondary-color: #ff6000;
  --accent-color: #ffa559;
  --accent-color-hover: #ffe6c7;
  --favorite-color: #ff2667;
  --gray-rgb: 0, 0, 0;
  --gray-alpha-500: rgba(var(--gray-rgb), 0.40);
  --gray-alpha-400: rgba(var(--gray-rgb), 0.30);
  --gray-alpha-300: rgba(var(--gray-rgb), 0.12);
  --gray-alpha-200: rgba(var(--gray-rgb), 0.05);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.02);
  --header-height: 4.5rem;
}

// Global styles
* {
  font-family: inherit;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--foreground);
  background: var(--background);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: calc(100vh + var(--header-height) * -1);
}

article {
  color: var(--foreground);
  background: var(--background);
  background-size: cover;
  background-position: 50%;
}

header {
  z-index: 3;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  color: var(--foreground);
  background: var(--background);
  border-bottom: 1px solid var(--gray-alpha-300);
  .main-header {
    background-color: var(--background);
    flex-direction: row;
    height: 100%;
    .left-container {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .logo {
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: -1px;
        color: var(--primary-color);
      }
    }
    .right-container {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .location {
        display: flex;
        align-items: center;
        font-size: 1rem;
        gap: 0.125rem;
        opacity: 0.3;
        padding-right: 1rem;
        transition: opacity 0.2s;
        &.active {
          opacity: 1;
        }
        .icon {
          margin-top: auto;
        }
      }
      .menu-icon {
        border: 1px solid var(--gray-alpha-300);
        border-radius: 1rem;
        gap: 0.5rem;
        padding: 0.4rem 0.75rem;
        .user-icon {
          border-radius: 50%;
          border: 1px solid var(--gray-alpha-300);
        }
      }
    }
  }
}

footer {
  width: 100%;
  background-color: var(--accent-color-hover);
  .top-container {
    flex-direction: row;
    padding-bottom: 0;
    padding-top: 2rem;
    .left-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 0;
      margin-bottom: auto;
      .logo {
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: bold;
        letter-spacing: -1px;
        color: var(--accent-color);
        .description {
          font-size: 0.8rem;
          font-weight: 400;
          color: var(--gray-alpha-500);
        }
      }
    }
    .right-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100%;
      nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 0.9rem;
        gap: 0.5rem;
        opacity: 0.8;
      }
    }
  }
  .bottom-container {
    flex-direction: row;
    padding-bottom: 0;
    .sns {
      display: flex;
      gap: 0.5rem;
      opacity: 0.8;
    }
    .policy {
      display: flex;
      gap: 1rem;
      font-size: 0.9rem;
      opacity: 0.8;
      a {
        border-left: 1px solid var(--gray-alpha-300);
        padding-left: 1rem;
        &:first-child {
          border-left: none;
        }
      }
    }
  }
  .copyright {
    font-size: 0.875rem;
    color: var(--gray-alpha-500);
    text-align: center;
    padding: 0.5rem 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  object-fit: cover;
  object-position: center;
}

ul {
  list-style: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: filter 0.2s ease-in-out;
  &:hover {
    filter: brightness(0.95);
  }
}

// Layout
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 1rem;
}

.not-found {
  display: flex;
  min-height: calc(100vh + var(--header-height) * -1);
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  .not-found-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    .icon {
      font-size: 5rem;
    }
    .not-found-title {
      display: flex;
      flex-direction: column;
      font-weight: 700;
      line-height: 1;
      font-size: 1.5rem;
    }
  }
  .not-found-text {
    text-align: center;
  }
}

.login {
  min-height: calc(100vh + var(--header-height) * -1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    color: var(--foreground);
    p {
      margin-top: 1rem;
      opacity: 0.8;
    }
  }
  .login-button-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 300px;
    font-size: 1rem;
    .social-button {
      justify-content: flex-start;
      padding: 0.75rem 1rem;
      font-size: 1rem;
      border: 1px solid var(--gray-alpha-300);
      &.google {
        background-color: #ffffff;
        color: #000000;
      }
      &.line {
        background-color: #00c300;
        color: #ffffff;
      }
      .icon {
        margin-left: 0.5rem;
        margin-right: 1rem;
      }
      .text {
        display: flex;
        align-items: center;
        height: 1.5rem;
        padding-left: 1rem;
        border-left: 1px solid var(--gray-alpha-300);
        span {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  .search-box-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: 2px solid var(--accent-color);
    padding: 1rem;
    gap: 1rem;
    .content-slider {
      padding: 0 1rem;
      display: flex;
      gap: 2rem;
      align-items: center;
    }
  }
  .search-box-pr {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--gray-alpha-100);
    border-radius: 1rem;
    padding: 1rem;
  }
}

.food-card-box {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  width: 100%;
  &:not(:last-child) {
    border-bottom: 1px solid var(--gray-alpha-300);
  }
  .food-card-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;
    .title-wrapper {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      .title {
        font-size: 1.25rem;
        font-weight: bold;
      }
      .description {
        color: var(--gray-alpha-500);
        font-size: 0.85rem;
        line-height: 0.85rem;
      }
    }
    .btn-wrapper {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      gap: 0.5rem;
      .all-btn {
        font-size: 0.85rem;
        margin-right: 1rem;
        background-color: unset;
        opacity: 0.75;
        transition: opacity 0.2s;
        &:hover {
          opacity: 1;
        }
      }
      .prev-btn, .next-btn {
        background-color: var(--gray-alpha-200);
        border-radius: 50%;
        padding: 0.25rem;
        color: var(--gray-alpha-400);
        transition: color 0.2s;
        &:not(:disabled):hover, &.active {
          color: var(--foreground);
        }
        &:disabled {
          cursor: not-allowed;
        }
      }
    }
  }
  .food-card-box-content-item {
    cursor: pointer;
    &:hover {
      .image-wrapper {
        .image {
          transform: scale(1.05);
        }
      }
      .info-wrapper {
        opacity: 0.8
      }
    }
    .image-wrapper {
      display: flex;
      position: relative;
      overflow: hidden;
      border: 1px solid var(--gray-alpha-300);
      border-radius: 0.5rem;
      .image {
        width: 100%;
        border-radius: 0.5rem;
        transition: transform 0.2s ease-in-out;
      }
      .favorite-icon {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        color: var(--gray-alpha-400);
        stroke: var(--gray-alpha-300);
        padding: 0;
        transition: color 0.2s ease-in-out;
        &:hover, &.active {
          color: var(--favorite-color);
        }
      }
    }
    .info-wrapper {
      padding: 0.25rem;
      border-radius: 0.5rem;
      transition: opacity 0.2s ease-in-out;
      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .rating {
          font-size: 0.875rem;
          font-weight: bold;
          background-color: var(--gray-alpha-300);
          padding: 0.25rem 0.5rem;
          border-radius: 0.5rem;
        }
      }
      .name {
        font-size: 1rem;
      }
      .price {
        font-size: 1.25rem;
        font-weight: bold;
        .unit {
          font-size: 0.875rem;
        }
      }
    }
  }
}
.slick-track {
  display: flex;
  gap: 0.5rem;
}

// PC
@media (min-width: 1180px) {
  html {
    font-size: 100%;
  }
  .sp-only {
    display: none !important;
  }
  .container {
    max-width: 1180px;
  }
}


// Mobile
@media (max-width: 1179px) {
  html {
    font-size: 82.5%;
  }
  .pc-only {
    display: none !important;
  }
  footer {
    .top-container {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--gray-alpha-300);
      .right-container {
        nav {
          align-items: center;
        }
      }
    }
    .bottom-container {
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}