// Theme colors
:root {
  // Global
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #3087fa;
  --primary-color-hover: #a3cbff;
  --secondary-color: #ff6600;
  --secondary-color-hover: #f5873e;
  --accent-color: #ff5959;
  --accent-color-hover: #ffa0a0;
  --favorite-color: #ff2643;
  --rating-color: #ffd726;
  --icon-color: #4d4d4d;
  --gray-rgb: 0, 0, 0;
  --box-shadow: hsla(210, 8%, 62%, .2) 0px 8px 24px;
  --gray-alpha-500: rgba(var(--gray-rgb), 0.40);
  --gray-alpha-400: rgba(var(--gray-rgb), 0.30);
  --gray-alpha-300: rgba(var(--gray-rgb), 0.12);
  --gray-alpha-200: rgba(var(--gray-rgb), 0.05);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.02);
  // Order Status
  --booked-color: rgb(21, 115, 201);
  --pickup-color: rgb(252, 125, 45);
  --done-color: rgb(15, 202, 46);
  // Header
  --header-height: 4.5rem;
  // Event Slider
  --event-slider-height: 250px;
}

// Global styles
* {
  font-family: inherit;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: var(--foreground);
  background: var(--background);
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin-top: var(--header-height);
  min-height: calc(100vh + var(--header-height) * -1);
}

article {
  color: var(--foreground);
  background: var(--background);
  background-size: cover;
  background-position: 50%;
}

section {
  width: 100%;
}

header {
  z-index: 3;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  color: var(--foreground);
  background: var(--background);
  border-bottom: 1px solid var(--gray-alpha-300);
  transition: border 0.2s ease;
  &.top {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
  }
  .main-header {
    background-color: var(--background);
    flex-direction: row;
    height: 100%;
    .left-container {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .logo {
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: -1px;
        color: var(--foreground);
        &.hide {
          display: none;
        }
      }
    }
    .right-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.5rem;
      width: 100%;
      .search-input {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
      }
      .menu-btn {
        background-color: var(--background);
        border: 1px solid var(--gray-alpha-300);
        border-radius: 1rem;
        gap: 0.5rem;
        padding: 0.4rem 0.75rem;
        .menu-icon {
          opacity: 0.75;
        }
        .user-icon {
          border-radius: 50%;
          border: 1px solid var(--gray-alpha-300);
        }
      }
    }
  }
}

footer {
  width: 100%;
  background-color: var(--accent-color);
  padding: 1rem 0;
  color: var(--background);
  .top-container {
    flex-direction: row;
    padding-bottom: 0;
    padding-top: 2rem;
    padding-bottom: 1rem;
    .left-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 0;
      margin-bottom: auto;
      .logo {
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: bold;
        letter-spacing: -1px;
        color: var(--background);
        .description {
          font-size: 0.8rem;
          font-weight: normal;
          opacity: 0.75;
        }
      }
    }
    .right-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      .footer-nav {
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        gap: 2rem;
        font-size: 0.9rem;
        opacity: 0.8;
        .group-name {
          font-size: 1rem;
          font-weight: bold;
          margin-bottom: 0.5rem;
          opacity: 0.75;
        }
        .group-item {
          padding: 0.25rem 0;
        }
      }
    }
  }
  .bottom-container {
    flex-direction: row;
    padding-bottom: 0.5rem;
    .sns {
      display: flex;
      gap: 1rem;
      opacity: 0.8;
    }
    .policy {
      display: flex;
      gap: 1rem;
      font-size: 0.9rem;
      opacity: 0.8;
      a {
        border-left: 1px solid var(--accent-color-hover);
        padding-left: 1rem;
        &:first-child {
          border-left: none;
        }
      }
    }
  }
  .copyright {
    font-size: 0.875rem;
    text-align: center;
    padding: 0.5rem 0;
    opacity: 0.5;
  }
}

p {
  white-space: normal;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

hr {
  border: none;
  border-bottom: 1px solid var(--gray-alpha-300);
  &.container {
    padding: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  user-select: none;
  object-fit: cover;
  object-position: center;
}

input, textarea {
  &:focus-visible {
    outline: none;
  }
}

select {
  cursor: pointer;
  color: inherit;
  &:focus-visible {
    outline: none;
  }
}

ul {
  list-style: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: unset;
  transition: filter 0.2s ease-in-out;
  color: inherit;
  &:hover {
    filter: brightness(0.95);
  }
}

// Layout
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 1rem;
}

.breadcrumbs {
  width: 100%;
  a {
    font-size: 0.875rem;
  }
}

.item-quantity-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray-alpha-300);
  border-radius: 0.5rem;
  background-color: var(--background);
  .quantity {
    font-weight: bold;
    margin: 0 0.5rem;
    min-width: 2rem;
    text-align: center;
  }
}

.cart-dialog {
  align-items: flex-start;
  .cart-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 1rem;
    border-bottom: 1px solid var(--gray-alpha-500);
    .close-icon {
      cursor: pointer;
    }
    .delete-icon {
      cursor: pointer;
      opacity: 0.5;
      pointer-events: none;
      transition: opacity 0.2s;
      &.active {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
  .cart-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: overlay;
    min-height: 400px;
    padding: 0;
    &::-webkit-scrollbar {
      display: none;
    }
    &.empty {
      align-items: center;
      justify-content: center;
      opacity: 0.8;
      padding: 0 1rem;
    }
    .cart-items-count {
      padding: 0.25rem 1rem;
      background: lightgray;
      color: var(--foreground);
      position: sticky;
      top: 0;
      z-index: 1;
    }
    .cart-item {
      &:not(:last-child) {
        border-bottom: 1px solid var(--gray-alpha-300);
      }
      &:nth-child(even) {
        background-color: var(--gray-alpha-200);
      }
      .cart-item-wrapper {
        display: flex;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.75rem 1rem 0 1rem;
        .cart-item-img {
          display: flex;
          align-items: center;
          gap: 1rem;
          position: relative;
          img {
            border-radius: 0.5rem;
            border: 1px solid var(--gray-alpha-300);
            &.delete-mode {
              opacity: 0.5;
            }
          }
          .delete-icon {
            position: absolute;
            background-color: var(--foreground);
            color: var(--background);
            border-radius: 0.5rem;
            width: 60px;
            height: 60px;
            opacity: 0.8;
          }
          .cart-item-info {
            display: flex;
            flex-direction: column;
            .cart-item-name {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              .sale-tag {
                border-radius: 0.5rem;
                font-size: 0.7rem;
                font-weight: bold;
                background: var(--secondary-color);
                padding: 0.125rem 0.5rem;
                text-align: center;
                color: var(--background);
                box-shadow: 0px 0px 4px var(--gray-alpha-400);
              }
            }
            .price {
              display: flex;
              align-items: baseline;
              gap: 0.25rem;
              .current-price {
                font-size: 1.25rem;
                font-weight: bold;
                .unit {
                  font-size: 0.875rem;
                }
              }
              .origin-price {
                font-size: 0.75rem;
                font-weight: bold;
                color: var(--gray-alpha-300);
                text-decoration: line-through;
              }
            }
          }
        }
      }
      .cart-item-total-price {
        display: flex;
        justify-content: flex-end;
        padding: 0 1rem 0.75rem 1rem;
        text-align: right;
        font-size: 0.9rem;
        color: var(--secondary-color);
      }
    }
  }
  .cart-actions {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
    background: var(--background);
    .point-back {
      font-size: 0.9rem;
      text-align: center;
    }
    .order-btn {
      font-size: 1.1rem;
      opacity: 0.4;
      pointer-events: none;
      width: 100%;
      transition: opacity 0.2s;
      margin: 0;
      &.active {
        opacity: 1;
        pointer-events: auto;
      }
      .total-price {
        font-weight: bold;
        color: var(--secondary-color);
        margin: 0 0.25rem;
      }
    }
  }
}

.search-input {
  display: flex;
  gap: 0.5rem;
  .input-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
    input {
      width: 100%;
      height: 100%;
      border: 1px solid var(--gray-alpha-300);
      gap: 0.5rem;
      padding: 0.65rem 2.5rem;
      border-radius: 1rem;
      background-color: var(--background);
      transition: background-color 0.2s;
      &:focus {
        background-color: var(--gray-alpha-100);
      }
    }
    .search-icon {
      position: absolute;
      opacity: 0.75;
      left: 0.75rem;
      cursor: pointer;
    }
    .clear-icon {
      position: absolute;
      opacity: 0.75;
      right: 0.75rem;
      cursor: pointer;
      opacity: 0;
      pointer-events: none;
      &.active {
        pointer-events: auto;
        opacity: 1;
      }
    }
  }
}

.selector {
  display: flex;
  position: relative;
  align-items: center;
  select {
    appearance: none;
    border: 1px solid var(--gray-alpha-300);
    padding: 0.65rem 2rem 0.65rem 0.8rem;
    border-radius: 0.5rem;
    background-color: var(--background);
    min-width: 150px;
    width: 100%;
  }
  .arrow-down {
    position: absolute;
    right: 0.4rem;
  }
}

.user-location {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  gap: 0.125rem;
  opacity: 0.3;
  transition: opacity 0.2s;
  &.active {
    opacity: 0.8;
  }
  .icon {
    margin-top: auto;
    font-size: 1.25rem;
  }
}

.not-found {
  display: flex;
  min-height: calc(100vh + var(--header-height) * -1);
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  .not-found-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    .icon {
      font-size: 5rem;
    }
    .not-found-title {
      display: flex;
      flex-direction: column;
      font-weight: 700;
      line-height: 1;
      font-size: 1.5rem;
    }
  }
  .not-found-text {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.login {
  min-height: calc(100vh + var(--header-height) * -1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  .login-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
    color: var(--foreground);
    width: 100%;
    .title {
      font-size: 2.25rem;
      font-weight: 900;
    }
    .description {
      margin-top: -0.5rem;
      font-size: 1.25rem;
    }
  }
  .login-btn-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 300px;
    font-size: 1rem;
    .social-btn {
      justify-content: flex-start;
      padding: 0.75rem 1rem;
      font-size: 1rem;
      border: 1px solid var(--gray-alpha-300);
      &.google {
        background-color: #ffffff;
        color: #000000;
      }
      &.line {
        background-color: #00c300;
        color: #ffffff;
      }
      .icon {
        margin-left: 0.5rem;
        margin-right: 1rem;
      }
      .text {
        display: flex;
        align-items: center;
        height: 1.5rem;
        padding-left: 1rem;
        border-left: 1px solid var(--gray-alpha-300);
        span {
          margin-left: 0.5rem;
        }
      }
    }
  }
  .caution {
    font-size: 0.875rem;
    margin-top: 2rem;
    opacity: 0.6;
  }
}

.my {
  gap: 2rem;
  .shop-mode-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.25rem;
    border: 1px solid var(--gray-alpha-300);
    border-radius: 0.5rem;
    width: 100%;
    color: var(--background);
    background-color: var(--accent-color);
    transition: opacity 0.2s;
    .title {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  .user-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--gray-alpha-500);
    .user-profile-wrapper {
      display: flex;
      align-items: center;
      gap: 1rem;
      img {
        border-radius: 50%;
        border: 1px solid var(--gray-alpha-300);
      }
      .user-name-wrapper {
        display: flex;
        flex-direction: column;
        .user-name {
          display: flex;
          align-items: baseline;
          font-size: 1rem;
          font-weight: normal;
        }
        .user-point {
          font-size: 1.25rem;
          font-weight: bold;
          .unit {
            margin-left: 0.25rem;
            font-size: 0.875rem;
          }
        }
      }
    }
    .user-action-wrapper {
      display: flex;
      align-items: flex-start;
      height: 100%;
      gap: 0.5rem;
    }
  }
}
.myorder {
  gap: 2rem;
  .order-history {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .title {
      font-size: 1rem;
      font-weight: bold;
    }
  }
}

.home {
  .home-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem 0;
    .user-contents {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      height: calc(var(--event-slider-height) - 2px);
      padding: 3rem 1.5rem;
      border-radius: 0.5rem;
      border: 1px solid var(--gray-alpha-300);
      position: relative;
      box-shadow: var(--box-shadow);
      .user-dashboard {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        select {
          font-size: 1rem;
          border: 1px solid var(--foreground);
        }
        .user-point {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .point-value {
            color: var(--accent-color);
            font-size: 1.5rem;
            font-weight: 900;
            .unit {
              margin-left: 0.25rem;
              font-size: 1rem;
            }
          }
        }
        .user-code-btn, .user-login-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.25rem;
          border-radius: 0.5rem;
          font-size: 1rem;
          border: 1px solid var(--gray-alpha-300);
          padding: 0.5rem 1rem;
          background-color: var(--foreground);
          color: var(--background);
        }
      }
    }
    .service-contents {
      flex: 3;
      overflow: hidden;
    }
  }
  .quick-select {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    .title {
      font-size: 1.25rem;
      font-weight: bold;
    }
    .quick-select-wrapper {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 1rem;
      .quick-select-btn {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 1.5rem;
        overflow: hidden;
        position: relative;
        min-width: 100px;
        height: fit-content;
        background-color: transparent;
        transition: background-color 0.2s;
        &:hover {
          background-color: var(--gray-alpha-200);
        }
        .quick-select-image {
          object-fit: contain;
          padding: 1rem;
        }
        .quick-select-name {
          font-size: 1rem;
        }
      }
    }
  }
  .introduction {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0;
    .title {
      font-size: 1.25rem;
      font-weight: bold;
    }
    .description {
      font-size: 1rem;
      font-weight: 300;
      margin: 1rem 0;
    }
    .link-wrapper {
      display: flex;
      justify-content: flex-end;
      gap: 1.5rem;
      margin-top: 1rem;
      a {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        transition: transform 0.3s;
        &:hover {
          transform: translateX(6px);
        }
      }
    }
  }
}

.notice-board {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--gray-alpha-200);
  margin-bottom: 2rem;
  .title {
    font-size: 1rem;
    font-weight: bold;
  }
  .contents-list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    .contents {
      font-size: 0.875rem;
      &:before {
        content: "・";
        margin-right: 0.25rem;
      }
    }
  }
}

.order-status {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  .title {
    font-size: 1rem;
    font-weight: bold;
  }
  .order-status-items-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.75rem;
    &.optional {
      grid-template-columns: repeat(2, 1fr);
    }
    .order-status-item {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      border: 1px solid var(--gray-alpha-300);
      border-radius: 0.5rem;
      padding: 1rem;
      background-color: var(--gray-alpha-100);
      color: var(--gray-alpha-400);
      transition: background-color 0.2s;
      &.active {
        background-color: var(--background);
        .order-status-item-title {
          .icon {
            opacity: 1;
          }
          .label {
            color: var(--foreground);
          }
        }
        .value {
          color: var(--foreground);
        }
      }
      &.optional {
        gap: 0.375rem;
        padding: 0;
        border: none;
        background-color: unset;
      }
      &.optional-parts {
        flex-direction: row;
        .order-status-item-title {
          .label {
            font-size: 0.875rem;
          }
        }
        .value {
          font-size: 1.5rem;
          line-height: 1.5rem;
        }
      }
      .order-status-item-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.25rem;
          padding: 0.5rem;
          border-radius: 0.5rem;
          background-color: var(--gray-alpha-200);
          color: var(--background);
          opacity: 0.5;
          transition: opacity 0.2s;
          &.booked {
            background-color: var(--booked-color);
          }
          &.pickup {
            background-color: var(--pickup-color);
          }
          &.done {
            background-color: var(--done-color);
          }
        }
        .label {
          font-size: 1rem;
        }
      }
      .value {
        font-size: 2.25rem;
        font-weight: bold;
        margin-left: auto;
      }
    }
  }
}

.link-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  .title {
    font-size: 1rem;
    font-weight: bold;
  }
  .link-list-items {
    display: grid;
    border: 1px solid var(--gray-alpha-300);
    border-radius: 0.5rem;
    overflow: hidden;
    .link-list-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.25rem 1rem;
      border-bottom: 1px solid var(--gray-alpha-300);
      transition: opacity 0.2s;
      &:hover {
        opacity: 0.8;
      }
      &:nth-child(odd) {
        border-right: 1px solid var(--gray-alpha-300);
      }
      &.dummy {
        cursor: default;
        background-color: var(--gray-alpha-100);
        border-radius: 0;
      }
      .link-list-item-content {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        .icon-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .arrow-icon {
        opacity: 0.75;
      }
    }
  }
}

.filter-dialog {
  .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid var(--gray-alpha-500);
    font-size: 1.1rem;
    margin-bottom: 1rem;
    .title {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: bold;
    }
    .close-icon {
      cursor: pointer;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    overflow: visible;
    gap: 1rem;
    padding: 1rem;
    .filter-item {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }
    .actions {
      display: flex;
      justify-content: flex-end;
      align-items: stretch;
      gap: 0.5rem;
      margin-top: auto;
      .action-btn {
        flex: 1;
      }
    }
  }
}

.food-info-dialog {
  .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid var(--gray-alpha-500);
    font-size: 1.1rem;
    margin-bottom: 1rem;
    .title {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: bold;
    }
    .close-icon {
      cursor: pointer;
    }
  }
  .content {
    display: flex;
    overflow: visible;
    gap: 1rem;
    padding: 1rem;
    .image-wrapper {
      flex: 1;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
      }
      .favorite-icon {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        color: var(--gray-alpha-400);
        padding: 0;
        transition: color 0.2s ease-in-out;
        &:hover, &.active {
          color: var(--favorite-color);
          animation: pulse 0.5s;
        }
      }
    }
    .food-detail-wrapper {
      flex: 1.5;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      min-height: 400px;
      .food-name-rating {
        display: flex;
        justify-content: space-between;
        .food-name {
          display: flex;
          align-items: center;
          font-size: 1.25rem;
          gap: 0.5rem;
          .sale-tag {
            border-radius: 0.5rem;
            font-size: 0.875rem;
            font-weight: bold;
            background: var(--secondary-color);
            padding: 0.125rem 0.5rem;
            text-align: center;
            color: var(--background);
            box-shadow: 0px 0px 4px var(--gray-alpha-400);
          }
        }
        .rating {
          font-size: 0.875rem;
          font-weight: bold;
          background-color: var(--gray-alpha-300);
          padding: 0.25rem 0.75rem;
          border-radius: 0.5rem;
        }
      }
      .price {
        display: flex;
        align-items: baseline;
        gap: 0.25rem;
        margin-top: -1rem;
        margin-bottom: 1rem;
        .current-price {
          font-size: 1.5rem;
          font-weight: bold;
          &.on-sale {
            color: var(--secondary-color);
          }
          .unit {
            font-size: 1rem;
          }
        }
        .origin-price {
          font-size: 0.875rem;
          font-weight: bold;
          color: var(--gray-alpha-300);
          text-decoration: line-through;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        label {
          font-size: 0.9rem;
          padding-bottom: 0.25rem;
        }
        p {
          margin-left: 0.5rem;
        }
        .ingredient-list {
          display: flex;
          flex-wrap: wrap;
          gap: 0.25rem;
          margin-left: 0.5rem;
          .ingredient {
            border-radius: 0.25rem;
            padding: 0.125rem 0.5rem;
            background-color: var(--gray-alpha-200);
          }
        }
      }
      .actions {
        display: flex;
        justify-content: flex-end;
        align-items: stretch;
        gap: 0.5rem;
        margin-top: auto;
        .add-btn {
          min-width: 180px;
          position: relative;
          overflow: hidden;
          .added-icon {
            z-index: 1;
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(0deg, #ff5858 0%, #f09819 100%);
            border-radius: 0.5rem;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            transform: translateX(-100%);
            pointer-events: none;
            animation: slideInOut 1.5s forwards;
          }
        }
      }
    }
  }
}

.food-card {
  transition: opacity 0.2s ease-in-out;
  &:hover {
    &.clickable {
      cursor: pointer;
      opacity: 0.8;
    }
  }
  .image-wrapper {
    display: flex;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--gray-alpha-300);
    border-radius: 0.5rem;
    .image {
      width: 100%;
      border-radius: 0.5rem;
      transition: transform 0.2s ease-in-out;
    }
    .favorite-icon {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      color: var(--gray-alpha-400);
      padding: 0;
      transition: color 0.2s ease-in-out;
      &:hover, &.active {
        color: var(--favorite-color);
        animation: pulse 0.5s;
      }
    }
    .sale-tag {
      position: absolute;
      border-radius: 0.5rem;
      margin: 0.5rem;
      font-size: 0.8rem;
      font-weight: bold;
      background: var(--secondary-color);
      padding: 0.125rem 0.5rem;
      text-align: center;
      color: var(--background);
      box-shadow: 0px 0px 4px var(--gray-alpha-400);
    }
  }
  .info-wrapper {
    padding: 0.25rem;
    border-radius: 0.5rem;
    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .rating {
        font-size: 0.875rem;
        font-weight: bold;
        background-color: var(--gray-alpha-300);
        padding: 0.25rem 0.5rem;
        border-radius: 0.5rem;
      }
    }
    .name {
      font-size: 1rem;
    }
    .price {
      display: flex;
      align-items: baseline;
      gap: 0.25rem;
      .current-price {
        font-size: 1.25rem;
        font-weight: bold;
        &.on-sale {
          color: var(--secondary-color);
        }
        .unit {
          font-size: 0.875rem;
        }
      }
      .origin-price {
        font-size: 0.75rem;
        font-weight: bold;
        color: var(--gray-alpha-300);
        text-decoration: line-through;
      }
    }
  }
}
.food-card-slider {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  width: 100%;
  &:not(:last-child) {
    border-bottom: 1px solid var(--gray-alpha-300);
  }
  .food-card-slider-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;
    .title-wrapper {
      flex: 2;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      .title {
        font-size: 1.25rem;
        font-weight: bold;
      }
    }
    .btn-wrapper {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      gap: 0.5rem;
      .all-btn {
        font-size: 0.85rem;
        margin-right: 1rem;
        background-color: unset;
        opacity: 0.75;
        transition: opacity 0.2s;
        &:hover {
          opacity: 1;
        }
      }
      .prev-btn, .next-btn {
        background-color: var(--gray-alpha-200);
        border-radius: 50%;
        padding: 0.25rem;
        color: var(--gray-alpha-400);
        transition: color 0.2s;
        &:not(:disabled):hover, &.active {
          color: var(--foreground);
        }
        &:disabled {
          cursor: not-allowed;
        }
      }
    }
  }
  .food-card {
    margin-right: 0.5rem;
  }
}

.shop {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;
  .shop-header {
    background-color: var(--accent-color);
    .shop-profile {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .profile-img {
        border-radius: 50%;
        border: 3px solid white;
        margin-bottom: -4rem;
      }
      .shop-action-wrapper {
        display: flex;
        gap: 0.5rem;
      }
    }
  }
  .shop-body {
    display: flex;
    align-items: stretch;
    .shop-info {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      padding-bottom: 1rem;
      margin-bottom: 0.5rem;
      .shop-info-header {
        .shop-name {
          font-size: 1.5rem;
          font-weight: bold;
        }
        .shop-description {
          font-size: 1rem;
          line-height: 1rem;
          font-weight: normal;
          color: var(--gray-alpha-500);
        }
      }
      .shop-rating {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        font-size: 0.875rem;
        border: 1px solid var(--gray-alpha-300);
        border-radius: 0.5rem;
        padding: 0.25rem 0.75rem;
      }
    }
    .shop-item-search {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 1rem 0;
    }
    .shop-item {
      display: flex;
      flex-direction: column;
      min-height: 400px;
      .shop-item-header {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        .count {
          font-weight: bold;
        }
      }
      .shop-item-body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        &.no-items {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0;
          opacity: 0.8;
        }
      }
    }
  }
}

.shop-review  {
  .shop-review-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
    .review-summary {
      flex: 1;
      max-width: 35%;
      .total-rating {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        font-size: 1.5rem;
        font-weight: bold;
        .review-count {
          font-size: 0.9rem;
          font-weight: normal;
        }
      }
      .rating-distribution {
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        .rating-bar {
          display: flex;
          align-items: center;
          margin: 0.5rem 0;
          .bar-background {
            flex: 1;
            background-color: var(--gray-alpha-300);
            border-radius: 4px;
            overflow: hidden;
            height: 8px;
            margin: 0 0.5rem;
          }
          .bar {
            background-color: var(--rating-color);
            border-radius: 4px;
            height: 100%;
            transition: width 0.3s ease;
          }
          .percentage {
            font-size: 0.875rem;
            color: var(--gray-alpha-500);
          }
        }
      }
    }
    .review-list {
      flex: 2;
      display: flex;
      flex-direction: column;
      max-width: 65%;
      .no-review {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0.8;
      }
      .review-filter {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 0.5rem;
      }
      .review-item {
        display: flex;
        align-items: flex-start;
        width: 100%;
        padding: 1rem 0.5rem;
        border-bottom: 1px solid var(--gray-alpha-300);
        &:last-child {
          border-bottom: none;
        }
        .review-content {
          display: flex;
          flex-direction: column;
          width: 100%;
          .review-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .review-user {
            font-weight: bold;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            .review-profile {
              border-radius: 50%;
            }
            .review-user-info {
              font-size: 0.9rem;
              color: var(--gray-alpha-500);
              font-weight: normal;
              display: flex;
              flex-direction: column;
              .review-user-name-rating {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                .user-name {
                  font-weight: bold;
                  color: var(--foreground);
                }
                .user-rating {
                  letter-spacing: -1px;
                }
              }
            }
          }
          .review-date {
            color: var(--gray-alpha-500);
            font-size: 0.9em;
          }
          p {
            margin-top: 0.5rem;
            padding: 0 0.25rem;
          }
        }
      }
    }
  }
}

.event-slider {
  margin: 0 auto;
  max-width: -webkit-fill-available;
  position: relative;
  .slick-list {
    position: relative;
    padding-top: 5px;
  }
  .slick-track {
    .slick-slide {
      &.slick-active:hover {
        img {
          transition: filter 0.3s ease;
          filter: brightness(0.9);
        }
      }
    }
    .slider-item {
      position: relative;
      overflow: hidden;
      border-radius: 0.5rem;
      height: 200px;
      border: 1px solid var(--gray-alpha-300);
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), transparent);
        z-index: 1;
      }
      .event-title {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        color: var(--background);
        padding: 0.75rem 1rem;
        z-index: 2;
        h3 {
          font-size: 1.5rem;
          font-weight: bold;
        }
        p {
          font-size: 1.1rem;
          font-weight: 300;
        }
      }
    }
  }
  .event-index {
    position: absolute;
    bottom: calc(0.75rem + 6px);
    right: 1rem;
    color: var(--background);
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    background-color: var(--foreground);
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    p {
      display: flex;
      align-items: center;
      letter-spacing: 1px;
      .slash {
        margin: 0 0.25rem;
        font-size: 0.8rem;
      }
    }
  }
}

// PC
@media (min-width: 1180px) {
  html {
    font-size: 100%;
  }
  .sp-only {
    display: none !important;
  }
  .container {
    max-width: 1180px;
  }
  .link-list {
    .link-list-items {
      grid-template-columns: repeat(2, 1fr);
      .link-list-item {
        &:nth-last-child(-n+2) {
          border-bottom: none;
        }
      }
    }
  }
  .event-slider {
    .slick-track {
      .slider-item {
        height: var(--event-slider-height);
      }
    }
  }
  .cart-dialog {
    .cart-title {
      min-width: 500px;
    }
  }
  .filter-dialog {
    .title-wrapper {
      min-width: 500px;
    }
  }
  .food-info-dialog {
    .title {
      min-width: 500px;
    }
  }
}


// Mobile
@media (max-width: 1179px) {
  html {
    font-size: 82.5%;
  }
  .pc-only {
    display: none !important;
  }
  footer {
    .top-container {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--gray-alpha-300);
      .right-container {
        .footer-nav {
          justify-content: center;
          margin: 1rem 0;
        }
      }
    }
    .bottom-container {
      flex-direction: column;
      gap: 0.5rem;
    }
  }
  .link-list {
    .link-list-items {
      grid-template-columns: repeat(1, 1fr);
      .link-list-item {
        &:nth-child(odd) {
          border-right: none;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
  .food-info-dialog {
    .content {
      flex-direction: column;
      .image-wrapper {
        flex: 1;
      }
      .food-detail-wrapper {
        flex: 5;
      }
    }
  }
  .home {
    .home-wrapper {
      flex-direction: column;
      align-items: stretch;
    }
    .quick-select {
      .quick-select-wrapper {
        overflow-x: auto;
      }
    }
  }
  .myorder {
    .order-history {
      flex-direction: column;
      align-items: stretch;
      gap: 1rem;
    }
  }
  .shop-review {
    .shop-review-content {
      flex-direction: column;
      .review-summary {
        max-width: 100%;
      }
      .review-list {
        max-width: 100%;
      }
    }
  }
  .search-input {
    width: 100%;
  }
  .order-status {
    .order-status-items-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .shop {
    .shop-body {
      .shop-item {
        .shop-item-body {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}

// Animation
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
@keyframes slideInOut {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  20% {
    opacity: 1;
    transform: translateX(0);
  }
  80% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}